<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Escríbenos</h1>
            <form action="#">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <!-- Apellido -->
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                </div>
                <!-- Correo electrónico -->
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
                </div>
                <!-- Asunto -->
                <div class="form-group">
                    <label for="asunto">Asunto</label>
                    <input type="text" class="form-control" id="asunto" placeholder="Asunto">
                </div>
                <!-- Mensaje -->
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3"></textarea>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Oficinas</h2>
            <p>Av. Siempre Viva 742</p>
            <p>Springfield</p>
            <p>Conmutador: 1234567890</p>
            <p>Atencion a cliente: 0987654321</p>
            <a mailto="danyalexlg@gmail.com">
                danyalexlg&commat;gmail.com
            </a>
        </div>
</div>